
html, body {
  /* height: 100%; */
  padding: 0;
}

body {
  margin: 0 10%;
}

header {
  margin: 3%;
}

.logo {
  width: 100%;
}

.navbar-section {
  width: 33%;
}

.navbar-center {
  width: 34%;
}

button.btn.add-btn, button.btn.search-btn {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  font-size: 1rem;
}

form.form-horizontal {
  max-width: 500px;
  margin: auto;
}

div#successMessage.toast.toast-success {
  display: none;
}

.animated {
  -webkit-animation-duration: 10s;animation-duration: 10s;
  -webkit-animation-fill-mode: both;animation-fill-mode: both;
}

@-webkit-keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

@keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

.fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

input#search-input.form-input {
  border-radius: 2rem;
  border-color: #5755d9;
  height: 50px;
  padding: 0 30px 0 15px;
}

:focus {
  box-shadow: none;
}

span.algolia-places {
  z-index: 1000;
}