
html, body {
  /* height: 100%; */
  padding: 0;
}

body {
  margin: 0 10%;
}

header {
  margin: 3%;
}

.logo {
  width: 100%;
}

button.btn.add-btn, button.btn.search-btn {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  font-size: 1em;
}

#map {
  height: 100%;
}

form.form-horizontal {
  max-width: 500px;
  margin: auto;
}

.form-inline {
  /* right: -10%; */
}